/target
/scratch
/lib
/classes
/checkouts
/config
/resources/config
/autodoc/**
/clucy-index
/caribou-index
/app
pom.xml*
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
test_h2.trace.db
*.h2
*.db
resources/config/boot.clj
